{% extends "layout.html" %}
{% from 'macros.html' import inlining_chain with context %}

{% block title %}
"{{ passname }}" pass
{% endblock %}

{% block content %}
  <div class="header">
    <ol class="breadcrumb">
      <li>
	<a href="/">Optimization Viewer</a>
      </li>
      <li class="active"> <strong>Pass:</strong>"{{ passname }}"</li>
    </ol>
  </div>
<table class="table table-striped table-bordered table-sm">
  <tr>
    <th>Summary</th>
    <th>Source Location</th>
    <th>Hotness</th>
    <th>Function / Inlining Chain</th>
  </tr>
  {% for record in records %}
  <tr>
    <!-- Summary -->
    <td>
      {{ get_markup_for_record(record) }}
    </td>

    <!-- Source Location: -->
    <td>
      {% if record.location %}
      <a href="{{url_from_location(record.location)}}">{{ record.location }} </a>
      {% endif %}
    </td>

    <!-- Hotness -->
    <td style="text-align:right">
    <!-- write_td_count(f, record, highest_count) -->
    {{ record.count.value }}
    </td>

    <!-- Function / Inlining Chain  -->
    <td>
      {{ inlining_chain(record) }}
    </td>

  </tr>
  {% endfor %}
</table>
{% endblock %}
