{% extends "layout.html" %}
{% block title %}
Optimizations
{% endblock %}

{% block content %}
  <div class="header">
    <ol class="breadcrumb">
      <li>
	<a href="/">Optimization Viewer</a>
      </li>
      <li class="active"> <strong>All Optimizations</strong></li>
    </ol>
  </div>

<table class="table table-striped table-bordered table-sm">
  <tr>
    <th>Summary</th>
    <th>Source Location</th>
    <th>Hotness</th>
    <th>Function / Inlining Chain</th>
    <th>Pass</th>
  </tr>
  {% for record in records %}
  <tr>
    <!-- Summary -->
    <td>
      {{ record.message_html }}
    <!-- write_td_with_color(f, record, get_summary_text(record)) -->
    </td>

    <!-- Source Location: -->
    <td>
      {% if record.location %}
      <a href="{{url_from_location(record.location)}}">{{ record.location }} </a>
      {% endif %}
    </td>

    <!-- Hotness -->
    <td style="text-align:right">
    <!-- write_td_count(f, record, highest_count) -->
    {{ record.count.value }}
    </td>

    <!-- Function / Inlining Chain  -->
    <td>
      <ul class="list-group">
	<!-- write_inlining_chain(f, record) -->
	{% if record.inlining_chain %}
	{% for inline in record.inlining_chain %}
	<li class="list-group-item">
            <!-- if not first: -->
                <!-- f.write ('inlined from ') -->
	<code>{{ inline.fndecl }}</code>
<!--             site = inline.site -->
<!--             if site: -->
<!--                 f.write(' at <a href="%s">%s</a>' -->
<!--                         % (url_from_location(site), -->
<!--                            html.escape(str(site)))) -->
	</li>
        <!-- first = False -->
	{% endfor %}
	{% endif %}
      </ul>
    </td>

    <!-- Pass: -->
    <td>
    <a href="pass/{{ record.pass_.name }}">{{ record.pass_.name }}</a>
    </td>
  </tr>
  {% endfor %}
</table>

{% endblock %}
